<br>
<div style="width: 70%; margin: auto;"> 

<button type="button" class="btn btn-primary" (click)="openPage('customer')">
    customer
  </button>
  <button type="button" class="btn btn-primary" (click)="openPage('dealer')" style="margin-left: 1%;">
    Dealer
  </button>
  <br>
  <br>
<h1>Dealer Table</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of ProductData; ">
      <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.Stock}}</td>
        <td><button class="btn btn-warning" (click)="addProductToDealer(item)">Add</button>&nbsp;
      </tr>  
  </tbody>
</table>
<div  *ngIf="dealerOrder.length">

<h1>Card Products</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dealerOrder; let index=index">
       <td>{{index}}</td>
       <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td><input type="text" value="{{item.quantity}}"  (change)="onChangeOptionDealer(item,$event)"> </td>
        <td>{{item.price*item.quantity}}</td>
        <td><button class="btn btn-danger" (click)="removeProductToDealer(item)">Remove</button>&nbsp;
      </tr>  
  </tbody>
</table>
<h3>==============Dealer Sale =============</h3>
<div>Order: {{TODAY_STR}}</div>
<div>Sale Type: {{saleType}}</div>
<div>Discount: {{discount}} </div>
<div>TotalQuantity: {{totalQuantity}}</div>
<div>TotalAmount:{{totalCost-discount}}</div>
<h3>==============Dealer Sale =============</h3>
<pre><label>{{dealerOrder|json}}</label></pre>

 </div>

</div>